@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  padding: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: radial-gradient(#333 1px, #f7f7f7 1px);
  background-size: 64px 64px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  padding: 16px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  font-family: 'Merriweather';
  line-height: 1.2;
  color: #333;
}

#quote_text, #reminder {
  font-size: 54px;
  margin-bottom: 16px;
}

#quote_credit {
  font-size: 32px;
  color: #555;
}

.news {
  width: 25%;
  overflow: scroll;
  height: 100vh;
  padding: 0 8px 24px;
}

.hackernews-title {
  display: flex;
  align-items: center;
  margin: 16px 0 20px;
}

.hackernews-title > img {
  margin-right: 8px;
  height: 24px;
}

.reminder-title {
  color: #555;
  font-size: 20px;
}

a {
  color: #333 !important;
  text-decoration: none;
}

ul {
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none; 
}

ul > li {
  margin-bottom: 16px;
  position: relative;
}

ul > li img {
  width: 100%;
  display: block;
}

ul > li > span {
  color: #aaa;
}

ul > li > .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #dedede;
  }

  a {
    color: #dedede !important;
  }

  #quote_text {
    color: #dedede;
  }

  #quote_credit {
    color: #aaa;
  }

  ul > li > span {
    color: #888;
  }

  ul > li > .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}